<!DOCTYPE html>
<html>
  <head>
      <title>ATM Page</title>
  </head>
  <body>
    <image src="image/home1.png"></image>

    <h1 style="color:rgb(20, 20, 57)"><en>ENTER PIN</en></h1>
    <br>
   

    <form>
        
        <label for="password">ATM PIN</label>
        <input type="password" id="password" name="password" placeholder="xxxxxx" required>
        
    </form>
    <br>
    <a href="authenticate.html">
      <button><strong style="color :darkgreen"> CONFIRM</strong></button>
    </a>
    <br>
    <a href="home.html">
      <button><strong style="color:darkred">CANCEL</strong></button>
    </a>
  </body>

</html>