<!DOCTYPE html>
<html>
  <head>
      <title>Authentication </title>
  </head>
  <body>
    <image src="image/home1.png"></image>
    <br>
    <image src="image/transaction1.png"></image>


    <form>
       <input type="submit" value="Withdraw" style="color :rgb(18, 27, 67)">
       <br>
       <input type="submit" value="Check Balance" style="color :rgb(108, 58, 22)">
       <br>
       <input type="submit" value="Bank Transfer" style="color :rgb(25, 86, 40)">
      
    </form>
  </body>

</html>